:root {
    --bg-info: #EBF8FFbb;
    --text-info: #2B6CB0;

    --bg-danger: #fff5f5bb;
    --text-danger: #C53434;

    --bg-success: #E6FFFAbb;
    --text-success: #234E52;
}

.alert {
    width: 500px;
    padding: 18px;
    border-radius: 4px;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: sticky;
    top: 2%;
    left: 64%;
    animation: show-alert .5s ease-in-out;
}

.red-alert {
    background-color: var(--bg-danger);
    color: var(--text-danger);
    border: 1px solid var(--text-danger);
}

.green-alert{
    background-color: var(--bg-success);
    color: var(--text-success);
    border: 1px solid var(--text-info);
}

.blue-alert {
    background-color: var(--bg-info);
    color: var(--text-info);
    border: 1px solid var(--text-info);
}

.dismiss-alert {
    color: inherit;
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

/* animations */

@keyframes show-alert {
    0% {
        opacity: 0;
        left: 100%;
        width: 0px;
        overflow: hidden;
    }
    100% {
        opacity: 1;
        left: 64%;
        width: 500px
    }
}
