:root {
    --form-background: #13232f;
    --body-bg: #c1bdba;
    --white: #ffffff;

    --main: #1ab188;
    --main-light: #1ab189f2;
    --main-dark: #179b78;

    --gray: #ddd;
    --gray-light: #a0b3b0;
    --gray-dark: #435259;

    --red: #f44336;
    --red-pale: #ff7480bb;

    --bg-danger: #FFF5F5;
    --text-danger: #C53434;
}

.alert {
    width: 500px;
    background-color: var(--bg-danger);
    color: var(--text-danger);
    padding: 14px;
    border-radius: 4px;
    position: sticky;
    top: 0%;
    left: 0%;
}

.dismiss-alert {
    color: var(--text-danger);
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    outline: none;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
    cursor: pointer;
}