h2 {
    color: rgb(66, 66, 66);
    font-weight: 500;
    margin: 4% 0 2% 3%;
}

.cards {
    width: 96%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin: 20px auto;
}

.card {
    width: 100%;
    margin: 0 1%;
    background-color: #fff;
    color: black;
    border-radius: 4px;
    border-left: 4px solid orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 12px;
}

.card-text p {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.card-text h3 {
    font-weight: 500;
    color: rgb(100, 100, 100);
}

.orders-chart {
    width: 60%;
    background-color: #fff;
    border-radius: 4px;
    margin-left: 3%;
}

.orders-chart-title {
    color: rgb(100, 100, 100);
    border-bottom: 1px solid rgb(225, 225, 225);
    padding: 14px;
    font-size: 0.8rem;
}

.chart {
    padding: 14px 16px;
    width: 100%
}