.delete-form-container {
    display: none;
}

.delete-form {
    width: 450px;
    background-color: rgb(228, 228, 228);
    color: var(--blue-dark);
    border-radius: 6px;
    padding: 14px;
    position: fixed;
    left: 50%;
    top: 40%;
    z-index: 801;
    transform: translate(-50%, -50%);
}

.delete-message {
    margin: 16px 0;
}

.delete-cancel,
.delete-delete {
    text-decoration: none;
    border: none;
    font-size: .9rem;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    padding: 8px 12px;
}

.delete-cancel {
    background-color: var(--gray-dark);
}

.delete-delete {
    background-color: var(--red);
}

