.noproduct-container {
  width: 50%;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 8px #00000027;
  padding: 20px;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.noproduct-container h2 {
  margin: auto;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  color: #188064;
}
.noproduct-container h3 {
  margin: 6px auto 30px auto;
  font-size: 1.3rem;
  font-weight: normal;
  text-align: center;
  color: #1f9777f2;
}
.noproduct-container button {
  width: 50%;
  text-decoration: none;
  border: none;
  font-size: 1rem;
  border-radius: 50px;
  color: var(--white);
  cursor: pointer;
  padding: 14px 14px;
  background-color: transparent;
  /* color: #1792F9;
    border: 1px solid #1792F9; */
  color: #1ab189f2;
  border: 1px solid #1ab189f2;
}

.noproduct-container button:hover {
  background-color: #1ab189f2;
  color: var(--white);
}
