.product-container {
  width: 60%;
  background-color: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 8px #00000027;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: start;
}

.product-container h2 {
  margin: 6px auto 30px auto;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  color: #878e93;
}

.product-container a:hover {
  background-color: rgb(225, 225, 225);
  border-radius: 50px;
}

.element-grp {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.element-grp label {
  font-weight: bold;
  color: #878e93;
  font-size: 0.9rem;
  margin-left: 2px;
}

.element-grp textarea,
.element-grp input {
  margin-top: 4px;
  color: #585858;
  padding: 4px 10px;
  font-size: 1rem;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 8px;
  resize: none;
}
