.settings-container {
  width: 60%;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px #00000027;
  padding: 20px;
  margin-top: 12%;
  margin-bottom: 20px;
}

.settings-container h2 {
  margin: 6px auto 30px auto;
  font-size: 1.8rem;
  font-weight: normal;
  text-align: center;
  color: #878e93;
}

.input-grp {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.input-grp label {
    color: #878e93;
    margin-left: 2px;
    margin-bottom: 4px;
    font-weight: 600;
    font-size: 0.9rem;
}

.input-grp input {
  margin-top: 4px;
  color: #585858;
  padding: 4px 10px;
  font-size: 1rem;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 8px;
  resize: none;
}

.btns {
    margin-top: 34px;
    margin-bottom: 14px;
}

.settings-container a,
.settings-container button {
    padding: 10px 18px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    border: 1px solid #bdbdbd;
    background-color:  transparent;
    color: #21262d91;
    transition: all .2s;
}

.settings-container a:hover,
.settings-container a:focus,
.settings-container button:hover,
.settings-container button:focus {
    color:  #fff;
    background-color: #21262d91; 
}

.error-message {
    margin-top: 2px;
    color: #b10000;;
}