:root {
    --blue-dark: #13232f;
    --body-bg: #c1bdba;
    --white: #ffffff;

    --main: #1ab188;
    --main-light: #1ab189f2;
    --main-dark: #179b78;

    --gray: #ddd;
    --gray-light: #a0b3b0;
    --gray-dark: #435259;

    --red: #f44336;
    --red-pale: #f4433643;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    font-family: 'Titillium Web', sans-serif;
    color: var(--white);
}

.container {
    display: grid;
    grid-template-columns: min-content 1fr;
}

.sidebar {
    background-color: var(--blue-dark);
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0%;
    left: 0%;
}

/* class to hide the sidebar */
.reduce {
    animation: reduce .3s ease;
}

@keyframes reduce {
    0% {
        width: 230px
    }

    100% {
        width: 0px
    }
}

/* class to show the sidebar */
.expand {
    animation: expand .3s ease;
}

@keyframes expand {
    0% {
        width: 0px
    }

    100% {
        width: 230px
    }
}

.logo {
    margin: 40px 22px 0px 20px;
}

/* toggle button */
.toggle {
    background-color: transparent;
    border: none;
    align-self: flex-end;
    margin-top: 18px;
    margin-right: 10px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 180px;
    transition: all 0.3s;
    z-index: 999;
}

.select-btns {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.select-btn {
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 14px 14px 14px 14px;
    width: 100%;
}

.select-btn:hover,
.select-btn:focus {
    background-color: var(--gray-dark);
}

.selected {
    background-color: var(--main);
}

.icon-btn {
    display: flex;
    align-items: center;
}

.icon-btn img {
    margin-right: 14px;
}

.logout-btn {
    position: absolute;
    bottom: 1%;
    border-top: 1px solid var(--gray-dark);
}

/* class to show the elements in the sidebar */
.show {
    animation: show .5s ease-in-out;
    display: flex;
}

@keyframes show {
    0% {
        opacity: 0%
    }
    100% {
        opacity: 100%;
    }
}

/* class to hide the elements in the sidebar */
.hide {
    animation: hide .5s ease-in-out;
    display: none;
}

@keyframes hide {
    0% {
        opacity: 100%
    }

    100% {
        opacity: 0%;
    }
}
/* logout card styles */
.logout-card-container {
    display: none;
    position: fixed;
    z-index: 803;
}

.logout-card {
    width: 300px;
    background-color: rgb(228, 228, 228);
    color: var(--blue-dark);
    border-radius: 6px;
    padding: 14px;
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.card-desappear {
    animation: card-desappear .2s ease-out;
}

.card-appear {
    animation: card-appear .2s ease-out;
}

@keyframes card-appear {
    0% {
        opacity: 0;
        top: 100%;
        display: none;
    }
    100% {
        opacity: 1;
        top: 40%;
        display: block;
    }
}

@keyframes card-desappear {
    0% {
        opacity: 1;
        top: 40%;
        display: block;
    }
    
    100% {
        opacity: 0;
        top: 100%;
        display: none;
    }
}

.logout-message {
    margin: 16px 0;
}

.logout-cancel,
.logout-logout {
    text-decoration: none;
    border: none;
    font-size: .9rem;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer
}

.logout-cancel {
    padding: 8px 12px;
    background-color: var(--gray-dark);
}

.logout-logout {
    padding: 10px 12px;
    background-color: var(--red);
}

/* utility classes */

.d-hidden {
    display: none
}