:root {
    --blue-dark: #13232f;
    --body-bg: #c1bdba;
    --white: #ffffff;

    --main: #1ab188;
    --main-light: #1ab189f2;
    --main-dark: #179b78;

    --gray: #ddd;
    --gray-light: #a0b3b0;
    --gray-dark: #435259;

    --red: #f44336;
    --red-pale: #f4433643;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--body-bg);
    font-family: 'Titillium Web', sans-serif;
    color: var(--white);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    width: 80%;
    margin: 100px auto;
}

.table-controllers {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#limit {
    padding: 2px 4px;
}

.add-btn {
    display: flex;
    border: none;
    padding: 8px 20px;
    border-radius: 6px;
    font-size: 1rem;
    background-color: var(--main-light);
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.add-btn img {
    margin-right: 4px
}

.add-btn:hover {
    background-color: var(--main-light);
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #0003;
    border-radius: 10px;
}

tr:hover {
    background-color: #00000021;
}

th, td {
    padding: 10px;
    text-align: center;
}

th,
td:not(.last) {
    border-bottom: 1px solid var(--gray);
}

.delete-btn,
.modify-btn,
.info-btn {
    border: 1px solid #b0b0b0;
    padding: 4px 14px;
    border-radius: 6px;
    color: var(--white);
    cursor: pointer;
    font-size: .9rem;
    background-color: transparent;
}

.danger {
    background-color: #ff665b;
    border-color: #ff665b;
}

.danger:hover {
    background-color: #f44336;
}

.success {
    background-color: #22d5a5;
    border-color: #22d5a5;
}

.success:hover {
    background-color: #21c095;
}

.info {
    background-color: #1dc5df;
    border-color: #1dc5df;
}

.info:hover {
    background-color: #17bdd6;
}
/* utility classes */

.d-hidden {
    display: none
}

.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.pagination {
    display: flex;
    margin-top: 20px;
}

.pagination-btn {
    background-color: #fbfbfb;
    padding: 8px 18px;
    border: 1px solid #b2b2b2;
    color: rgb(66, 66, 66);   
}

.previous {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    cursor: pointer;
}

.next {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    cursor: pointer;
}

.previous:hover,
.next:hover {
    background-color: #e9e9e9;
}

.disabled {
    cursor: default;
}

.disabled:hover {
    background-color: #fbfbfb;
    cursor: default;
}

.table-empty-td {
    margin: 30px 0;
    font-size: 1.2rem;
}